# Python cache
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd

# Python environments
venv/
venv-api/
__pycache__/
*.pyc

# Environment variables
.env
*.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
logs/