# This already includes psycopg2, but also connection types for UI, Hooks, and Operators
apache-airflow-providers-postgres

# When I build DAGs that utilize Pandas or NumPy, I will need to list those here as well